@charset "utf-8";

/*----------------------------------------------------------------
 * classcontents.htmlのスタイル
------------------------------------------------------------------*/

/* クラスと料金
------------------------------------------------------------------*/
#courses {
	.fee-lists {
		table {
			width: 42.5em;
			margin: 0.75em auto;
			margin-bottom: 1.75em;
			font-size: 0.9em;
			th, td {
				padding: 0.25em 0.5em;
			}
			th {
				padding-left: 1em;
				background-color: #cad8ff;
				&:last-child {
					text-align: center;
				}
			}
			td {
				background-color: #f0f4fe;
				// 回数・時間セル
				&:nth-child(2) {
					padding-left: 1em;
				}
				// ピアノクラスのクラス説明セル
				&[colspan="2"] {
					// color tomato;
					padding-left: 1.75em;
				}
				// 料金セル
				&:last-child {
					&:not([colspan="2"]) {
						text-align: right;
					}
				}
			}
		}
		// 出張レッスンの料金表部分（ここだけ表組みではない！）
		.trip-lesson {
			@include reset-spacing;
			margin-bottom: 1em;
			padding-left: 1.25em;
		}
	}
}

