@charset "utf-8";

/*----------------------------------------------------------------
 * classroom.htmlのスタイル
------------------------------------------------------------------*/
/* 教室案内
------------------------------------------------------------------*/
#access {
	.location {
		ul {
			margin: 1em;
		}
		p {
			line-height: 1.4;
			&:last-child {
				margin-bottom: 1em;
			}
		}
	}
}