@charset "utf-8";

/*----------------------------------------------------------------
 * 共通スタイル
------------------------------------------------------------------*/

/* 強調スタイル
------------------------------------------------------------------*/
strong {
	font-weight: bold;
	color: green;
	&[class="red"] {
		color: tomato;
	}
	&[class="blue"] {
		color: steelblue;
	}
}

img[src$="pgh.gif"], img[src$="mgh.gif"] {
	margin-right: 0.25rem;
	vertical-align: middle;
}


/* フォントサイズ（小）
------------------------------------------------------------------*/
.small {
	font-size: 0.9em;
}

/* 通貨記号
------------------------------------------------------------------*/
.jp-currency {
	&:before {
		@include currency-style("jp");
	}
}

/* サイトメニュ
------------------------------------------------------------------*/
#menu {
	img[src$="menu_midashi_menu.gif"] {
		@include reset-spacing;
		width: 225px;
		height: 69px;
		margin-bottom: -0.75em;
	}
}

/* フッタスタイル：著作権の自動出力に伴って、著作権表示の位置を微調整した。
------------------------------------------------------------------*/
footer {
	padding-top: 40px;
}