@charset "utf-8";

// /**
//  * 外側余白および内側余白を0にする。
//  */
@mixin reset-spacing {
	margin: 0;
	padding: 0;
}

// /**
//  * 通貨記号を表示する。
//  * @param string $state 国記号
//  * 										 省略した場合は「jp」
//  */
@mixin currency-style($state: "jp") {
	@if $state == "jp" {
		content: "\\";
	} @else if $state == "us" {
		content: "\$";
	}
}
