@charset "utf-8";

/*----------------------------------------------------------------
 * consert.htmlのスタイル
------------------------------------------------------------------*/

/* 演奏会情報
------------------------------------------------------------------*/
.concert {
	p {
		// 詳細はこちら
		&:first-child {
			&:before {
				content: "《";
			}
			&:after {
				content: "》";
			}
		}
		// ご来場ありがとう
		&:last-child {
			margin-bottom: 1em;
		}
	}
	.detail {
		margin: 0.25em 1.5em;
		dl {
			@include reset-spacing;
			overflow: hidden;
			dt {
				float: left;
				width: 5em;
				&:after {
					content: "／";
				}
				&.lecturer-performance {
					width: 9em;
				}
			}
			dd {
				margin-left: 5em;
				ul {
					&#smetana {
						padding-left: 2.5em;
					}
				}
				dl {
					&.titles {
						dt {
							width: 6em;
							&:after {
								content: "：";
							}
						}
						dd {
							padding-left: 1em;
							text-indent: -0.5em;
						}
					}
				}
			}
		}
	}
}