@charset "utf-8";

/*----------------------------------------------------------------
 * index.htmlのスタイル
------------------------------------------------------------------*/

/* ごあいさつ
------------------------------------------------------------------*/
#introduction {
	margin-bottom: 2em;
	.lists {
		margin-left: 1em;
		dl {
			dt, dd, p {
				@include reset-spacing;
			}
			dt {
				&:before {
					content: "■ ";
				}
			}
			dd {
				margin-left: 1.5em;
				#slogan {
					margin: 2em;
					margin-left: 0;
				}
				#targets {
					margin: 1.25em;
					margin-left: 0;
				}
			}
		}
	}
}

/* 更新情報
------------------------------------------------------------------*/
#updates {
	.lists {
		margin-left: 1em;
		dl {
			overflow: hidden;
			dt, dd, p {
				@include reset-spacing;
			}
			dt {
				float: left;
				width: 6em;
			}
			dd {
				float:left;
				margin-left: 1.5em;
			}
		}
	}
}

