@charset "utf-8";

/*----------------------------------------------------------------
 * links.htmlのスタイル
------------------------------------------------------------------*/

/* リンク集
------------------------------------------------------------------*/
#links {
	.links {
		margin: 0;
		margin-left: 0.75em;
	}
	img[src$="banner_ongakusai.gif"], img[src$="siteba88312.gif"] {
		@include reset-spacing;
		margin-left: 0.5em;
		border: 0pt solid #000000;
	}
	dl {
		dd {
			@include reset-spacing;
			line-height: 1.4;
			margin-left: 1.25em;
		}
	}
}