@charset "UTF-8";
/**
 * テンプレート（temp1）オリジナルスタイル
 */
body {
  color: #999999;
  margin: 0px;
  padding: 0px;
  font: 80%/1.8 "メイリオ", "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
  background: #f5f5f5 url(images/bg.gif);
  text-align: center;
}

a {
  color: #666666;
}
a:hover {
  color: #5d87f2;
}

h1, h2, h3, p, ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

img {
  border: none;
}

#container {
  text-align: left;
  width: 806px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

/*ヘッダー
------------------------------------------------------------------*/
header {
  background: url(images/container_bg_01.gif) no-repeat left top;
  height: 249px;
  position: relative;
  width: 806px;
}
header h1 {
  font-size: 11px;
  color: #FFFFFF;
  top: 10px;
  right: 10px;
  text-align: right;
  padding-top: 15px;
  padding-right: 20px;
}
header img {
  position: absolute;
  left: 20px;
  top: 50px;
}

/*コンテンツ全般
------------------------------------------------------------------*/
#contents {
  background: url(images/container_bg_02.gif) repeat-y;
}
#contents aside {
  float: left;
  width: 225px;
  display: inline;
  margin-left: 20px;
  margin-bottom: 80px;
}
#contents main {
  float: left;
  width: 504px;
  margin-bottom: 80px;
  display: inline;
  margin-left: 20px;
}
#contents main h2 {
  background: url(images/midashi_bg.gif) no-repeat left top;
  height: 24px;
  width: 504px;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 2px;
  padding-left: 30px;
}
#contents main p {
  padding: 5px 10px;
}

/*メニュー
------------------------------------------------------------------*/
nav ul {
  border-bottom: 5px solid #5d87f2;
}
nav a {
  text-align: center;
  display: block;
  width: 100%;
  color: #5d87f2;
  text-decoration: none;
  background: url(images/menu_bg.gif) no-repeat left bottom;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav a:hover {
  background: url(images/menu_bgn.gif) no-repeat left bottom;
  color: #FFFFFF;
}

/*フッター
------------------------------------------------------------------*/
footer {
  clear: both;
  background: url(images/container_bg_03.gif) no-repeat bottom;
  text-align: center;
  font-size: 11px;
  width: 100%;
  height: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
}

/*clearfix（ここは変更しないように）
------------------------------------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
