@charset "UTF-8";
/*----------------------------------------------------------------
 * 共通スタイル
------------------------------------------------------------------*/
/* 強調スタイル
------------------------------------------------------------------*/
strong {
  font-weight: bold;
  color: green;
}
strong[class="red"] {
  color: tomato;
}
strong[class="blue"] {
  color: steelblue;
}

img[src$="pgh.gif"], img[src$="mgh.gif"] {
  margin-right: 0.25rem;
  vertical-align: middle;
}

/* フォントサイズ（小）
------------------------------------------------------------------*/
.small {
  font-size: 0.9em;
}

/* 通貨記号
------------------------------------------------------------------*/
.jp-currency:before {
  content: "\\";
}

/* サイトメニュ
------------------------------------------------------------------*/
#menu img[src$="menu_midashi_menu.gif"] {
  margin: 0;
  padding: 0;
  width: 225px;
  height: 69px;
  margin-bottom: -0.75em;
}

/* フッタスタイル：著作権の自動出力に伴って、著作権表示の位置を微調整した。
------------------------------------------------------------------*/
footer {
  padding-top: 40px;
}

/*----------------------------------------------------------------
 * index.htmlのスタイル
------------------------------------------------------------------*/
/* ごあいさつ
------------------------------------------------------------------*/
#introduction {
  margin-bottom: 2em;
}
#introduction .lists {
  margin-left: 1em;
}
#introduction .lists dl dt, #introduction .lists dl dd, #introduction .lists dl p {
  margin: 0;
  padding: 0;
}
#introduction .lists dl dt:before {
  content: "■ ";
}
#introduction .lists dl dd {
  margin-left: 1.5em;
}
#introduction .lists dl dd #slogan {
  margin: 2em;
  margin-left: 0;
}
#introduction .lists dl dd #targets {
  margin: 1.25em;
  margin-left: 0;
}

/* 更新情報
------------------------------------------------------------------*/
#updates .lists {
  margin-left: 1em;
}
#updates .lists dl {
  overflow: hidden;
}
#updates .lists dl dt, #updates .lists dl dd, #updates .lists dl p {
  margin: 0;
  padding: 0;
}
#updates .lists dl dt {
  float: left;
  width: 6em;
}
#updates .lists dl dd {
  float: left;
  margin-left: 1.5em;
}

/*----------------------------------------------------------------
 * about.htmlのスタイル
------------------------------------------------------------------*/
/* 講師紹介
------------------------------------------------------------------*/
/*----------------------------------------------------------------
 * classcontents.htmlのスタイル
------------------------------------------------------------------*/
/* クラスと料金
------------------------------------------------------------------*/
#courses .fee-lists table {
  width: 42.5em;
  margin: 0.75em auto;
  margin-bottom: 1.75em;
  font-size: 0.9em;
}
#courses .fee-lists table th, #courses .fee-lists table td {
  padding: 0.25em 0.5em;
}
#courses .fee-lists table th {
  padding-left: 1em;
  background-color: #cad8ff;
}
#courses .fee-lists table th:last-child {
  text-align: center;
}
#courses .fee-lists table td {
  background-color: #f0f4fe;
}
#courses .fee-lists table td:nth-child(2) {
  padding-left: 1em;
}
#courses .fee-lists table td[colspan="2"] {
  padding-left: 1.75em;
}
#courses .fee-lists table td:last-child:not([colspan="2"]) {
  text-align: right;
}
#courses .fee-lists .trip-lesson {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  padding-left: 1.25em;
}

/*----------------------------------------------------------------
 * classroom.htmlのスタイル
------------------------------------------------------------------*/
/* 教室案内
------------------------------------------------------------------*/
#access .location ul {
  margin: 1em;
}
#access .location p {
  line-height: 1.4;
}
#access .location p:last-child {
  margin-bottom: 1em;
}

/*----------------------------------------------------------------
 * consert.htmlのスタイル
------------------------------------------------------------------*/
/* 演奏会情報
------------------------------------------------------------------*/
.concert p:first-child:before {
  content: "《";
}
.concert p:first-child:after {
  content: "》";
}
.concert p:last-child {
  margin-bottom: 1em;
}
.concert .detail {
  margin: 0.25em 1.5em;
}
.concert .detail dl {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.concert .detail dl dt {
  float: left;
  width: 5em;
}
.concert .detail dl dt:after {
  content: "／";
}
.concert .detail dl dt.lecturer-performance {
  width: 9em;
}
.concert .detail dl dd {
  margin-left: 5em;
}
.concert .detail dl dd ul#smetana {
  padding-left: 2.5em;
}
.concert .detail dl dd dl.titles dt {
  width: 6em;
}
.concert .detail dl dd dl.titles dt:after {
  content: "：";
}
.concert .detail dl dd dl.titles dd {
  padding-left: 1em;
  text-indent: -0.5em;
}

/*----------------------------------------------------------------
 * links.htmlのスタイル
------------------------------------------------------------------*/
/* リンク集
------------------------------------------------------------------*/
#links .links {
  margin: 0;
  margin-left: 0.75em;
}
#links img[src$="banner_ongakusai.gif"], #links img[src$="siteba88312.gif"] {
  margin: 0;
  padding: 0;
  margin-left: 0.5em;
  border: 0pt solid #000000;
}
#links dl dd {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  margin-left: 1.25em;
}
